/* 기본 스타일 */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden; /* 가로 스크롤 막기 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 화면 높이의 100%를 사용하여 가운데 정렬 */
}

#quiz-container {
    width: 100%; /* 화면 너비에 맞게 크기 조절 */
    max-width: 375px; /* iPhone 12 화면 너비 */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question-button {
    display: block;
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    font-size: 1.2em;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
    text-align: left;
}

#progress-container {
    width: 100%; /* 화면 너비에 맞게 크기 조절 */
    max-width: 375px; /* iPhone 12 화면 너비 */
    margin-top: 20px;
    background-color: #ddd;
    border-radius: 5px;
    height: 20px;
}

#progress-bar {
    height: 100%;
    background-color: #007BFF;
    border-radius: 5px;
    width: 0%;
}

#share-button, #restart-button {
    display: inline-block; /* 인라인 블록 요소로 표시 */
    margin-right: 10px; /* 오른쪽 여백 추가 */
}
#share-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#share-button:hover {
    background-color: #0056b3;
}

#restart-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#restart-button:hover {
    background-color: #0056b3;
}

/* 모바일 화면 크기 조정 */
@media screen and (max-width: 375px) {
    body {
        font-size: 18px;
    }
    
    #quiz-container {
        padding: 15px;
    }

    .question-button {
        font-size: 1.5em;
        padding: 12px;
        margin-top: 12px;
    }

    #progress-container {
        margin-top: 25px;
        height: 25px;
    }
}
