body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

#quiz-container {
    width: 90%; /* 화면 폭의 90% 사용 */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question-button {
    display: block;
    width: 100%; /* 부모 요소의 전체 폭 사용 */
    padding: 10px;
    margin-top: 10px;
    font-size: 1em; /* 상대적 폰트 크기 */
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
    text-align: left;
}

#progress-container {
    width: 100%; /* 부모 요소의 전체 폭 사용 */
    background-color: #ddd;
    border-radius: 5px;
    margin-top: 20px;
    height: 20px; /* 프로그레스바의 높이 설정 */
}

#progress-bar {
    height: 100%; /* 부모 요소의 높이와 동일 */
    background-color: #007BFF;
    border-radius: 5px;
    width: 0%; /* 초기 상태 */
}
